@import './styles/fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'OpenSans';
}

body {
    background: #EFEFF2;
}

.container {
    max-width: 585px;
    width: 100%;
    margin: 0 auto;
}

.App {

    &__nav {
        background: #FFFFFF;
        padding: 20px 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        text-transform: uppercase;
        color: #3F3F3F;
    }
}