.UserInfo {
    margin-bottom: 20px;
    width: 307px;
    height: 164px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background: #FFFFFF;
    border-radius: 6px;

    &__left {
        display: flex;
        flex-direction: column;
        row-gap: 3px;

        img {
            width: 100px;
            height: 100px;
            border: 1px solid #3F3F3F;
            border-radius: 6px;
        }

        a {
            border: none;
            outline: none;
            background: #3F3F3F;
            border-radius: 6px;
            padding: 9px 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__item {
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        color: #3F3F3F;

        span {
            font-weight: 500;
        }
    }
}